/*customizacion del label menu y el checkbox*/
.conteiner .barramenu #btn-menu{
  display: none; /*escondel el checkbox*/
}

.conteiner .barramenu label{
  background: rgb(65, 8, 110);
  color: #fff;
  /*display: block;*/
  display: none;
  padding: 15px;
  text-align: center;
}

.conteiner .barramenu label:hover{
  background: rgba(3, 0, 5, 0.49);
}




/*customizacion del nav*/
.conteiner .barramenu {
  /*background: rgb(71, 1, 159);*/
  width: 100%;
}

.conteiner .barramenu nav {
  background: rgb(132, 24, 154);

}
.conteiner .barramenu nav ul{
  display: flex;
  list-style: none;
}

.conteiner .barramenu nav li{
  flex-grow: 1;
  border-right: 1px solid #fff;
  text-align: center;
}
.conteiner .barramenu nav li:hover{
  background: rgba(0, 0, 0, 0.59);

}
.conteiner .barramenu nav li a{
  display: block;
  padding: 15px 20px;
  color: #fff;
  text-decoration: none;
}
.conteiner .barramenu nav {}
.conteiner .barramenu nav {}


/*customizacion del media queri*/

@media (max-width:768px){
}








}
